{% extends "admin.html.twig" %}

{% block adminContent %}
{{ form_start(form) }}
    <div class="row row-cols-2">
        <div class="col mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fa fa-paint-brush"></i> 
                    {{ 'admin.system.appearance'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.appearance.theme) }}

                    {{ form_row(form.appearance.navbarColor) }}

                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <div class="custom-file">
                                    {{ form_label(form.appearance.logoNavbar) }}
                                    {{ form_widget(form.appearance.logoNavbar) }}
                                    <small class="form-text text-muted">Tamanho da imagem (100x38)</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            {% if form.vars.data.appearance.logoNavbar %}
                                <div>
                                    <img src="{{ form.vars.data.appearance.logoNavbar }}">
                                    <button type="button" class="btn btn-danger" data-remove-file="logoNavbar">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="custom-file">
                                {{ form_label(form.appearance.logoLogin) }}
                                {{ form_widget(form.appearance.logoLogin) }}
                                <small class="form-text text-muted">Tamanho da imagem (270x107)</small>
                            </div>
                        </div>
                        <div class="col-4">
                            {% if form.vars.data.appearance.logoLogin %}
                                <div>
                                    <img src="{{ form.vars.data.appearance.logoLogin }}">
                                    <button type="button" class="btn btn-danger" data-remove-file="logoLogin">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        {{ 'button.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fa fa-cogs"></i> 
                    {{ 'admin.system.queue_ordering'|trans }}
                </div>
                {{ form_row(form.queue.ordering, { label: false }) }}
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        {{ 'button.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-handshake-o"></i> 
                    {{ 'admin.system.behavior'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.behavior.prioritySwap) }}

                    {{ form_row(form.behavior.prioritySwapMethod) }}

                    {{ form_row(form.behavior.prioritySwapCount) }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        {{ 'button.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}

<div class="card">
    <div class="card-header text-white bg-danger">
        <i class="fa fa-warning"></i> 
        {{ 'admin.system.danger_zone'|trans }}
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    {{ 'admin.system.reset_tickets'|trans }}
                </td>
                <td class="text-end">
                    <button class="btn btn-danger"
                            onclick="return App.Admin.reiniciarSenhas('{{ 'admin.system.reset_tickets.alert'|trans }}')">
                        <i class="fa fa-refresh"></i>
                        {{ 'button.reset'|trans }}
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'admin.system.clear_tickets'|trans }}
                </td>
                <td class="text-end">
                    <button class="btn btn-danger"
                            onclick="return App.Admin.limparSenhas('{{ 'admin.system.clear_tickets.alert'|trans }}')">
                        <i class="fa fa-refresh"></i>
                        {{ 'button.reset'|trans }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{# reiniciar #}
<div id="dialog-reiniciar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'label.success'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ 'admin.system.reset_tickets.success'|trans }}</p>
            </div>
        </div>
    </div>
</div>

{# limpar #}
<div id="dialog-limpar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'label.success'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ 'admin.system.clear_tickets.success'|trans }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function () {
            'use strict'
            
            const btns = [...document.querySelectorAll('[data-remove-file]')];
            btns.forEach((elem) => {
                elem.addEventListener('click', (e) => {
                    if (confirm('Deseja realmente remover o arquivo?')) {
                        fetch(`{{ path("admin_remove_settings_file") }}?key=${e.currentTarget.dataset.removeFile}`, {
                            method: 'DELETE',
                        }).then(() => {
                            window.location.reload();
                        });
                    }
                });
            });
        })();
    </script>
{% endblock %}
