{% extends "admin.html.twig" %}

{% block adminContent %}
    <div class="d-flex">
        <div>
            <h1>{{ 'admin.priorities.title'|trans }}</h1>
            <p>{{ 'admin.priorities.subtitle'|trans }}</p>
        </div>
        <div class="ms-auto pt-3">
            <a href="{{ path('admin_prioridades_new') }}" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                {{ 'admin.priorities.button.new'|trans }}
            </a>
        </div>
    </div>

    {% include "flashMessages.html.twig" %}

    <table class="table table-hover border">
        <thead>
            <tr class="table-primary">
                <th>#</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.color'|trans }}</th>
                <th>{{ 'label.weight'|trans }}</th>
                <th>{{ 'label.status'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for prioridade in prioridades %}
                <tr>
                    <td>
                        {{ prioridade.id }}
                    </td>
                    <td>
                        {{ prioridade.nome }}
                    </td>
                    <td>
                        {% if prioridade.cor %}
                            <span style="display: inline-block; height: 10px; width: 20px; background-color: {{ prioridade.cor }}"></span>
                        {% endif %}
                    </td>
                    <td>
                        {{ prioridade.peso }}
                    </td>
                    <td>
                        {% if prioridade.ativo %}
                            <span class="text-success">{{ 'label.enabled'|trans }}</span>
                        {% else %}
                            <span class="text-danger">{{ 'label.disabled'|trans }}</span>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <a href="{{ path('admin_prioridades_edit', { id: prioridade.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
